@use '@angular/material' as mat;

@include mat.icon-button-overrides(
  (icon-color: var(--mat-sys-on-primary))
);
    
.selected-theme {
@include mat.menu-overrides(
  (
    item-icon-color: var(--mat-sys-primary),
    item-label-text-color: var(--mat-sys-primary),
  )
)
}

.header-button-container {
  background-color: var(--mat-sys-background);
  border-radius: 3vh;
  position: fixed;
  right: 1vh;
  top: 1vh;
}
