@import "src/styles/flexbox.scss";

.catan-board {
  max-height: 100vh;
  overflow: hidden;
  font-size: 15px;
  list-style-type: none;
  background: var(--mat-sys-on-primary);
}

.catan-board__overlay {
  margin: 10px;
  padding: 1vh;
  border-radius: 1vh;
  position: absolute;
}

.catan-board__overlay-show-hide {
  margin: 0.5vh
}

.catan-board__menu-buttons {
  @include flexbox();
  @include flex-wrap(nowrap);
  @include justify-content(center);
  min-width: 20vh;
}

.catan-board__menu-button {
  border-radius: 4px;
  cursor: pointer;
}

.catan-board__submenu {
  margin-top: 1vh;
  @include flexbox();
  @include justify-content(center);
}

.catan-board__edit-menu {
  border-radius: 1vh;
  padding: 1vh;
  max-width: 230px;
}

.catan-board__select-container {
  margin: 10px 0;
  @include flexbox();
  @include justify-content(space-between);
}

.catan-board__select-swatch {
  flex-grow: 1;
  text-align: center;
  border: rgb(53, 53, 53) 1px solid;
  border-radius: 0.5vh;
  min-width: 2vh;
  min-height: 2vh;
}

.catan-board__canvas {
  height: 100vh;
  width: 100vh;
}

.catan-board__debug-overlay {
  position: fixed;
  right: 10px;
}