<div class="catan-board">
  <div class="catan-board__overlay">
    <button mat-flat-button class="catan-board__overlay-show-hide" (click)="showMenuButtons = !showMenuButtons">{{ showMenuButtons ? "Hide Menu" : "Show Menu"}}</button>
    <div class="catan-board__menu-buttons" *ngIf="showMenuButtons">
      <button mat-flat-button (click)="toggleGameMode('structure')">Structures</button>
      <button mat-flat-button (click)="toggleGameMode('board')">Board</button>
      <button mat-flat-button (click)="toggleGameMode('robber')">Robber</button>
      <button mat-flat-button (click)="toggleGameMode('dice')">Dice</button>
    </div>
    
    <mat-card class="catan-board__submenu" *ngIf="gameMode !== ''">
      <div class="catan-board__edit-menu" *ngIf="gameMode === 'structure'">
        <h4><u>S</u>tructure Edit Mode</h4>
        <div *ngIf="!selectedMesh">
          Select a structure or ghost to see more options.
        </div>
        <div *ngIf="selectedMesh && selectedStructureMeta">
          <h5>Structure Options:</h5>
          <div>Color:</div>
          <div class="catan-board__select-container">
            @for (player of gameState.players(); track $index) {
              <div
                class="catan-board__select-swatch"
                [style.background-color]="player.color"
                (click)=setPlayerOfSelectedStructure(player)>{{player.id}}</div>
            }
          </div>
          <div *ngIf="structureTypeModifiables">
            <div>Structure:</div>
            <div class="catan-board__select-container">
              <button type="button" *ngFor="let structureType of structureTypeModifiables"
              (click)=setSelectedStructureType(structureType)>{{structureType}}</button>
            </div>
          </div>
          <button (click)="instantiateSelectedObj()">
            {{ (selectedStructureMeta == undefined) ? "Confirm" : "Select a color to continue" }}
          </button>
          <div>Click the current selection again to remove it.</div>
        </div>
      </div>
      
      <div class="catan-board__edit-menu" *ngIf="gameMode === 'board'">
        <h4><u>B</u>oard Edit Mode</h4>
        <div>Length: {{currBoardLength}}
          <button (click)="modifyLenWidth('len', -1)">-</button>
          <button (click)="modifyLenWidth('len', 1)">+</button>
        </div>
        <div>Width from Center: {{currBoardWidth}}
          <button (click)="modifyLenWidth('wid', -1)">-</button>
          <button (click)="modifyLenWidth('wid', 1)">+</button>
        </div>
        <button type="button" (click)="resetBoard()">Regenerate Board</button>
        <div *ngIf="!selectedMesh">
          Select a hex to see more options.
        </div>
        <div *ngIf="selectedMesh && selectedHexMeta">
          <h5>Hex Options:</h5>
          <div class="catan-board__selection-debug">
            {{ selectedHexMeta.type }},
            {{ (selectedHexMeta.resourceNumber !== undefined) ? selectedHexMeta.resourceNumber : 'No Resource Number' }},
            {{ (selectedHexMeta.harborType) ? selectedHexMeta.harborType + ' harbor' : 'No harbor'}}
          </div>
          <h5>Resource:</h5>
          <div class="catan-board__select-container">
            @for (hexColor of hexTypeColors; track $index) {
              <div
              class="catan-board__select-swatch"
              [style.background-color]="hexColor"
              (click)="setHexResource(selectedHexMeta, allHexTypes[$index])"
              >{{$index}}</div>
            }
          </div>
          <h5>Hex Number:</h5>
          <div class="catan-board__select-container">
            @for (hexNumber of hexNumbers; track $index) {
              <div
              class="catan-board__select-swatch"
              >{{ hexNumber }}</div>
            }
          </div>
          <div>Click the current selection again to deselect it.</div>
        </div>
      </div>
      
      <div class="catan-board__edit-menu" *ngIf="gameMode === 'robber'">
        <h4><u>R</u>obber Edit Mode</h4>
        <div>Click a tile to move the robber there. Ocean tiles are not valid robber placements.</div>
      </div>
      
      <div class="catan-board__edit-menu" *ngIf="gameMode === 'dice'">
        <h4><u>D</u>ice Mode</h4>
        <ctn-catan-dice></ctn-catan-dice>
      </div>
    </mat-card>
  </div>
  
  <div class="catan-board__debug-overlay" *ngIf="debugWindowEnabled">
    <div *ngIf="mouse">Mouse Position:
      <div>x: {{ mouse.x }}</div>
      <div>y: {{ mouse.y }}</div>
    </div>
  </div>
  <canvas class="catan-board__canvas"
  #canvas
  (click)="onMouseClick($event)"
  (mousemove)="onMouseMove($event)"></canvas>
</div>
